<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
    <button class="btn btn-success">
        <i class="ace-icon fa fa-signal"></i>
    </button>

    <button class="btn btn-info">
        <i class="ace-icon fa fa-pencil"></i>
    </button>

    <button class="btn btn-warning">
        <i class="ace-icon fa fa-users"></i>
    </button>

    <button class="btn btn-danger">
        <i class="ace-icon fa fa-cogs"></i>
    </button>
</div>

<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
    <span class="btn btn-success"></span>

    <span class="btn btn-info"></span>

    <span class="btn btn-warning"></span>

    <span class="btn btn-danger"></span>
</div>
</div><!-- /.sidebar-shortcuts -->

<ul class="nav nav-list">
<li class="">
    <a href="index.html">
        <i class="menu-icon fa fa-tachometer"></i>
        <span class="menu-text"> Bureau </span>
    </a>

    <b class="arrow"></b>
</li>

<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-home"></i>
							<span class="menu-text">
								Biens
							</span>

        <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu">
        <li class="">
            <a href="#" class="">
                <i class="menu-icon fa fa-caret-right"></i>
                Biens
            </a>
        </li>
        <li class="">
            <a href="#" class="">
                <i class="menu-icon fa fa-caret-right"></i>
                Immeubles
            </a>
        </li>
    </ul>
</li>

<li class="">
    <a href="gallery.html">
        <i class="menu-icon fa fa-user"></i>
        <span class="menu-text"> Locataires </span>
    </a>

    <b class="arrow"></b>
</li>
<li class="">
    <a href="gallery.html">
        <i class="menu-icon fa fa-user"></i>
        <span class="menu-text"> Proprietaires </span>
    </a>

    <b class="arrow"></b>
</li>
<li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-tag"></i>
        <span class="menu-text"> Locations </span>

        <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu">
        <li class="">
            <a href="profile.html">
                <i class="menu-icon fa fa-caret-right"></i>
                Locations
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="inbox.html">
                <i class="menu-icon fa fa-caret-right"></i>
                Revision de loyer
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="pricing.html">
                <i class="menu-icon fa fa-caret-right"></i>
                Régularisation charges
            </a>

            <b class="arrow"></b>
        </li>
    </ul>
</li>
    <li class="">
        <a href="gallery.html">
            <i class="menu-icon glyphicon glyphicon-inbox"></i>
            <span class="menu-text"> Inventaires </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="gallery.html">
            <i class="menu-icon fa fa-check-square-o"></i>
            <span class="menu-text"> Etat des lieux </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-money"></i>
            <span class="menu-text"> Finances  </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="profile.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Finances
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="inbox.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Bilan Financier
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="pricing.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Régularisation charges
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-money"></i>
            <span class="menu-text"> Documents  </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="#">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Mes Documents
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="inbox.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Modèles de lettres
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="pricing.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Régularisation charges
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="gallery.html">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text"> Carnets </span>
        </a>

        <b class="arrow"></b>
    </li>
<li class="">
    <a href="gallery.html">
        <i class="menu-icon glyphicon  glyphicon-ok"></i>
        <span class="menu-text"> Interventions </span>
    </a>
    <b class="arrow"></b>
</li>
<li class="">
    <a href="gallery.html">
        <i class="menu-icon glyphicon  glyphicon-time"></i>
        <span class="menu-text"> Rappels </span>
    </a>
    <b class="arrow"></b>
</li>




</ul><!-- /.nav-list -->

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>