<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title lead">Pour démarrer, c'est simple comme 1, 2, 3...</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">

                    <div class="row">
                        <div class="col-xs-6">

                            <div class="span6 steps">
                                <a href="/landlord/#properties/new">
                                    <div class="step m-b-10">
                                        <div class="step-icon m-r-15 pull-left " style="margin-top: 5px;"><b>1</b></div>
                                        <h3><span>Créer un Bien</span> </h3>
                                        <p class="lead">Créer la fiche de votre bien</p>
                                    </div>
                                </a>
                                <a href="/landlord/#tenants/new">
                                    <div class="step m-b-10">
                                        <div class="step-icon m-r-15 pull-left step-done" style="margin-top: 5px;"><b>2</b></div>
                                        <h3><span class="step-done">Créer un Locataire</span> <em class="step-done">fait</em></h3>
                                        <p class="lead">Créer la fiche de votre Locataire</p>
                                    </div>
                                </a>
                                <a href="/landlord/#leases/new">
                                    <div class="step m-b-10">
                                        <div class="step-icon m-r-15 pull-left" style="margin-top: 5px;"><b>3</b></div>
                                        <h3><span>Créer une Location</span><em></em></h3>
                                        <p class="lead">Liez le Bien et le Locataire dans une Location</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="span6">

                            <div class="img m-t-20">
                                <a href="#" class="link-lightbox" data-videoid="6ql0rHbXdRA" data-videosite="youtube">
                                    <img src="assets/images/macbook.png" alt=" screenshot" width="590">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="row"><hr>
                        <div class="col-xs-12">
                            <p class="lead">Pour chaque contrat de location, <b>les loyers et les Quittances </b> sont générés automatiquement  chaque mois dans la rubrique "Finances".</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.col -->
</div>